.parent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 300px 300px;
  grid-template-areas:
    "sidebar navbar"
    "main main";
}

.navbar {
  grid-area: navbar;
  background-color: lightcoral;
}

.sidebar {
  grid-area: sidebar;
  background-color: lightgreen;
}

.main {
  grid-area: main;
  background-color: lightblue;
}
